POSTGRES_USER=trader
POSTGRES_PASSWORD=super_secret_prod_password
POSTGRES_DB=marketdata
DB_URL=postgresql://trader:super_secret_prod_password@timescaledb:5432/marketdata
ZOOKEEPER_CLIENT_PORT=2181
ZOOKEEPER_TICK_TIME=2000
KAFKA_BROKER_ID=1
KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
KAFKA_BROKER=kafka:9092
SYMBOL=btcusdt
